@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-behaviour-smooth;
  }

  body {
    @apply text-base bg-secondary text-primary;
  }
}

@layer utilities {
  .scroll-behaviour-smooth {
    scroll-behavior: smooth;
  }

  .grid-area-container {
    grid-template-areas: 'single';
  }

  .grid-area {
    grid-area: single;
  }

  .gradient {
    @apply bg-gradient-to-bl from-gradient-magenta to-gradient-violet;
  }
}
